<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog App</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"></script>
	<script src="js/models/post.js"></script>
	<script src="js/collections/blog.js"></script>
	<script src="js/views/post_view.js"></script>
	<script src="js/views/blog_view.js"></script>
	<script src="js/routes/app_router.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div id="main"></div>
	<script id="post-view-template" type="text/x-underscore-template">
		<h1><%= title %></h1>
		<h2><%= author %></h2>
		<h2><%= content %></h2>
		<a href="#">Back Home</a>
	</script>

	<script id="post-template" type="text/x-underscore-template">
		<li>
			Click here to read <%= title %> by <%= author %>
			<a href="#posts/<%= postID %>"><%= title %></a>
		</li>
	</script>
	
</body>
</html>