<div class="homepage-container">
  <%= image_tag('harry.jpg') %>
  <div class="homepage-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, odit, ipsa. Porro quas omnis accusantium aspernatur laudantium aliquid, quasi excepturi. Voluptatibus cum possimus id laudantium sunt, molestias necessitatibus fuga, fugit.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam adipisci, ipsum amet dolorem odit harum voluptates. Ratione architecto ipsa reprehenderit doloremque, recusandae provident consequatur voluptate?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit asperiores tempore excepturi expedita cum porro, nemo aut, vel veniam a non fuga temporibus possimus maxime incidunt harum adipisci laboriosam minima! Odit, non, sint officiis labore sapiente laborum, vitae temporibus quas tenetur, minima animi? Ipsa vitae fuga temporibus sapiente inventore nostrum eius ut magni molestiae mollitia quasi amet officiis voluptatem earum, nemo, enim dolorum consectetur suscipit vero. Deserunt, molestias modi!</p>
  </div>
</div>