<!DOCTYPE html>
<html>
<head>
  <title>Stock Lab</title>
  <link rel="stylesheet" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
  <h1>STOCK LAB</h1>
  </header>
  <%= yield %>
  <footer>
  </footer>
</body>
</html>