<form action="/" method="get">
  <!-- title is the key in the params hash -->
  <input type="text" name="title" placeholder="Enter a movie here...">
  <button>Get Movie!</button>
</form>


<% if @result %>
  <div class="movie_data">
    <p>Here are a few facts about <%= @result['Title'] %>. It came out in <%= @result['Year'] %> and was directed by <%= @result['Director'] %>.</p> 
    <img src="<%= @result['Poster'] %>">
  </div>
<% end %>